PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/exampledb

JWT_SECRET=change_this_secret_later
JWT_EXPIRES_IN=7d

EMAIL_ADMIN=admin@example.com
PASSWORD_ADMIN=Admin123456

EMAIL_TOURIST=tourist@example.com
PASSWORD_TOURIST=Tourist123456

EMAIL_GUIDE=guide@example.com
PASSWORD_GUIDE=Guide123456