.body{
  background-color:#F6F7F8;
  padding:10px;
  gap:20px;
  display:flex;
  flex-direction:column;
}
.card_cointainer{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.cards{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.label{
  display:flex;
  justify-content:space-between;
  font-weight:600;
  align-items:center;
}
.label :first-child{
  font-size:20px;
}
.label :last-child{
  font-size:14px;
  color:var(--color-primary);
}

.trips{

}