.footer {
background: #0c1c44;

color: white;
}

.container {
max-width: 1400px;

margin: auto;

padding: 80px 40px;

display: flex;
justify-content: space-between;
gap: 80px;
}

.brand {
max-width: 350px;
}

.brand h2 {
font-size: 3rem;

font-family: "Cormorant Garamond", serif;
}

.brand p {
margin-top: 16px;

line-height: 1.8;

color: rgba(255,255,255,.75);
}

.links {
display: flex;
gap: 80px;
}

.links h4 {
margin-bottom: 20px;
}

.links a {
display: block;

margin-bottom: 12px;

text-decoration: none;

color: rgba(255,255,255,.75);

transition: .3s;
}

.links a:hover {
color: white;
}

.bottom {
border-top: 1px solid rgba(255,255,255,.1);

text-align: center;

padding: 24px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logoWrapper h2 {
  margin: 0;
}